{{#user}}


<form class="" action="/edit/{{id}}" method="post">
  <input type="text" name="name" value="{{name}}" placeholder="NAME">
  <input type="text" name="email" value="{{email}}" placeholder="Email">
  <textarea name="bio" rows="8" cols="80">{{bio}}</textarea>
  <input type="submit" value="Submit">
</form>

{{/user}}
