

<form  action="/create" method="post">
     <input type="text" name="todo" value="" placeholder="Please Enter Chore">
     <button type="submit" name="button">Submit</button>
   </form>

   {{#user}}
   {{^completion}}
   <form class="" action="/completed/{{id}}" method="post">
    <button type="submit" name="button">{{Chore}}</button>
   </form>
   <form action="/edit/{{id}}" method="post">
       <input type="text" name="edit" placeholder="edit">
       <button type="submit" name="button"> edit Chore</button>
   </form>
   {{/completion}}

   {{#completion}}
     <del><p>{{Chore}}<p></del>
       <form class="" action="/destroy/{{id}}" method="post">
         <button type="submit" name="button">delete</button>
       </form>
   {{/completion}}
   {{/user}}
